@page "/Index"

<PageTitle>Início</PageTitle>

<h1>Bem-vindo Jorge!</h1>
	<p>
		<span class="oi oi-cloud" aria-hidden="true"></span> volUM - Feiras e Negócios
	</p>


<div class= flex flex-wrap space-x-4 border-2 border-gray-200 p-4"></div>
<div class="border-2 h-12 px-4 border-red-500 bg-gray-200 demo-waiting">Waiting</div>
<div class="border-2 h-12 px-4 border-red-500 bg-gray-200 demo-help">Get Help</div>
<div class="border-2 h-12 px-4 border-red-500 bg-gray-200 demo-crosshair">Crosshair</div>
<div class="border-2 h-12 px-4 border-red-500 bg-gray-200 demo-grab">Grab</div>
<div class="border-2 h-12 px-4 border-red-500 bg-gray-200 sad">Sad...</div>
<div class="border-2 h-12 px-4 border-red-500 bg-gray-200 happy">Benfica</div>

	

