<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8"/>
        <title>Repositório de Filmes</title>
        <link rel="icon" href="https://s.ltrbxd.com/static/img/icons/touch-icon-192x192.257b84e7.png">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/w3.css') }}"/>
    </header>
    <body>
        <div class="w3-card-4">
            <header class="w3-container w3-blue-gray">
                <h1 style="text-align: center;">{{ data.dados.title }}</h1>
            </header>

            <div class="w3-container">
                <div style="margin-left: 30px; margin-right: 30px; font-size:large;">
                    <p><b>Nome: </b> {{ data.dados.title }} </p>
                    <p><b>Resumo:</b>
                        {% if data.dados.abstract  | length > 0 %}
                            {%for abstract in data.dados.abstract %} 
                                {{ abstract }}
                            {% endfor %}
                        {% else %}
                            -
                        {% endif %}
                    </p>
                    <p><b>Duração (segundos):</b>
                        {% if data.dados.durations  | length > 0 %}
                            <ul>
                                {%for duration in data.dados.durations %} 
                                    <li> {{ duration }} </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            -
                        {% endif %}
                    </p>
                    <p><b>Género:</b>
                        {% if data.dados.genres  | length > 0 %}
                            <ul>
                                {%for genre in data.dados.genres %} 
                                    <li>  {{ genre }} </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            -
                        {% endif %}
                    </p>
                    <p><b>Data de Lançamento:</b>
                        {% if data.dados.dates  | length > 0 %}
                            <ul>
                                {%for date in data.dados.dates %} 
                                    <li>  {{ date }} </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            -
                        {% endif %}
                    </p>
                    <p><b>País:</b>
                        {% if data.dados.countries  | length > 0%}
                            <ul>
                                {%for country in data.dados.countries %} 
                                    <li>  {{ country }} </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            -
                        {% endif %}
                    </p>
                    <p><b>Elenco:</b>
                        {% if data.dados.cast  | length > 0%}
                            <ul>
                                {%for actor in data.dados.cast %}
                                    {% set actor = actor.split('/')[-1] %} 
                                    <li>  <a href="/pessoas/{{actor}}">{{ actor }}</a> </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            -
                        {% endif %}
                    </p>
                    <p><b>Produtores:</b>
                        {% if data.dados.producers  | length > 0%}
                            <ul>
                                {%for producer in data.dados.cast %}
                                    {% set producer = producer.split('/')[-1] %} 
                                    <li>  <a href="/pessoas/{{producer}}">{{ producer }}</a> </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            -
                        {% endif %}
                    </p>
                    <p><b>Diretores:</b>
                        {% if data.dados.directors  | length > 0%}
                            <ul>
                                {%for director in data.dados.directors %}
                                    {% set director = director.split('/')[-1] %} 
                                    <li>  <a href="/pessoas/{{director}}">{{ director }}</a> </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            -
                        {% endif %}
                    </p>
                    <p><b>Compositores:</b>
                        {% if data.dados.composers  | length > 0%}
                            <ul>
                                {%for composer in data.dados.composers %}
                                    {% set composer = composer.split('/')[-1] %} 
                                    <li>  <a href="/pessoas/{{composer}}">{{ composer }}</a> </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            -
                        {% endif %}
                    </p>
                    <p><b>Escritores:</b>
                        {% if data.dados.writers  | length > 0%}
                            <ul>
                                {%for writer in data.dados.writer %}
                                    {% set writer = writer.split('/')[-1] %} 
                                    <li>  <a href="/pessoas/{{writer}}">{{ writer }}</a> </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            -
                        {% endif %}
                    </p>

                    <br>
                    <p style="text-align: center; font-size: medium;">
                        <adress>[<a href="/">Página Inicial</a>]</adress>
                    </p>
                </div>  
            </div>

            <footer class="w3-container w3-blue-gray">
                <h5 style="text-align: center;">RPCW2024 [TPC6] - {{ data.data }}</h5>
            </footer>
        </div>
    </body>
</html>