<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8"/>
        <title>Repositório de Filmes</title>
        <link rel="icon" href="https://s.ltrbxd.com/static/img/icons/touch-icon-192x192.257b84e7.png">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/w3.css') }}"/>
    </header>
    <body>
        <div class="w3-card-4">
            <header class="w3-container w3-blue-gray">
                <h1 style="text-align: center;">Repositório de Filmes</h1>
            </header>

            <div class="w3-container">
                <table class="w3-table-all">
                    <tr>
                        <th style="text-align: center;">Nome</th>
                    </tr>
                    {% for entry in data.dados %}
                    <tr>
                        {% set film_name = entry.film.value.split('/')[-1] %}
                        <td style="text-align: center;"><a href="/filmes/{{film_name}}">{{ film_name }}</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <footer class="w3-container w3-blue-gray">
                <h5 style="text-align: center;">RPCW2024 [TPC6] - {{ data.data }}</h5>
            </footer>
        </div>
    </body>
</html>
