<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8"/>
        <title>Elementos</title>
        <link rel="icon" href="{{ url_for('static',filename='favicon.png') }}"/>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/w3.css') }}"/>
    </header>
    <body>
        <div class="w3-card-4">
            <header class="w3-container w3-purple">
                <h1 style="text-align: center;">Tabela Periódica - Elementos</h1>
            </header>

            <div class="w3-container">
                <table class="w3-table-all w3-centered w3-border w3-hoverable">
                    <tr>
                        <th><h4><b>Número Atómico</b></h4></th>
                        <th><h4><b>Nome</b></h4></th>
                        <th><h4><b>Símbolo</b></h4></th>
                        <th><h4><b>Grupo</b></h4></th>
                    </tr>
                    {% for entry in data.dados %}
                    <tr>
                        <td>{{ entry.num.value }}</td>
                        <td>{{ entry.nome.value }}</td>
                        <td>{{ entry.simb.value }}</td>
                        {% set group_name = entry.grupo.value.split('#')[-1] %}
                            {% if entry.gname %}
                                <td><a href="/grupos/{{ group_name }}">{{ entry.gname.value }}</a></td>
                            {% else %}
                            <td><a href="/grupos/{{ group_name }}">{{ group_name }}</a></td>
                            {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <p style="text-align: center; font-size: medium;">
                <adress>[<a href="/">Página Inicial</a>]</adress>
                <adress>[<a href="/grupos">Tabela dos Grupos</a>]</adress>
            </p>

            <footer class="w3-container w3-purple">
                <h5 style="text-align: center;">Gerado por RPCW2024 [TPC4] em {{ data.data }}</h5>
            </footer>
        </div>
    </body>
</html>