<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8"/>
        <title>Elementos</title>
        <link rel="icon" href="{{ url_for('static',filename='favicon.png') }}"/>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/w3.css') }}"/>
    </header>
    <body>
        <div class="w3-card-4">
            <header class="w3-container w3-purple">
                {% set group_name = data.dados[0].group.value.split('#')[-1] %}
                    {% if data.dados[0].nome %}
                        <h1 style="text-align: center;">{{ data.dados[0].nome.value }}</h1>
                    {% else %}
                        <h1 style="text-align: center;">{{ group_name }}</h1>
                    {% endif %}
            </header>

            <div class="w3-container">
                <div style="margin-left: 30px; margin-right: 30px; font-size:large;">
                    <p><b>Nome: </b> 
                        {% if data.dados[0].nome %}
                            {{ data.dados[0].nome.value }}
                        {% else %}
                            Informação não disponível
                        {% endif %}
                    </p>
                    <p><b>Número: </b> 
                        {% if data.dados[0].num %}
                            {{ data.dados[0].num.value }}
                        {% else %}
                            NaN
                        {% endif %}
                    </p>
                    <p><b>Elementos: </b>
                        <ul>
                            {% for entry in data.dados %}
                                <li><a href="/elementos/{{ entry.elnome.value }}">{{ entry.elnome.value }}</a></li>
                            {% endfor %}
                        </ul>
                    <br>
                    <p style="text-align: center; font-size: medium;">
                        <adress>[<a href="/">Página Inicial</a>]</adress>
                        <adress>[<a href="/elementos">Tabela dos Elementos</a>]</adress>
                        <adress>[<a href="/grupos">Tabela dos Grupos</a>]</adress>
                    </p>
                </div>  
            </div>

            <footer class="w3-container w3-purple w3-bottom">
                <h5 style="text-align: center;">Gerado por RPCW2024 [TPC4] em {{ data.data }}</h5>
            </footer>
        </div>
    </body>
</html>